# Database
DB_DATABASE=fem_directus
DB_USER=fem_admin
DB_PASSWORD=GerE@teUmaSenh@Muit0F0rte123!

# Redis
REDIS_PASSWORD=RedisFEM@2025!

# Directus Keys (gerar com: openssl rand -base64 32)
DIRECTUS_KEY=change-this-to-64-random-chars-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DIRECTUS_SECRET=change-this-to-32-random-chars-xxxxxxxxxxxxxxxx

# Admin User
ADMIN_EMAIL=admin@femcultura.ac.gov.br
ADMIN_PASSWORD=FEM@dmin2025!Segur0

# Timezone
TZ=America/Rio_Branco
